body {
    font-family: 'Georgia', serif;
    font-size: 14px;
    line-height: 1.5;
    color: #1a1a1a;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
h1 {
    margin: 0;
    font-size:63px;
    line-height: 84px;;
}
h2 {
    font-size: 35px;
    font-weight: 200;
}
small {
    font-style: italic;
}