
<h2>User Details</h2>

<pre>
    {{ user | json }}
</pre>
<form class="form-horizontal">
    <h3>Age</h3>
    <div class="control-group">
        <label class="control-label" for="dob">Date of birth</label>
        <div class="controls">
            <input ng-model="user.dob" type="text" id="dob" placeholder="DD/MM/YYYY"/>
        </div>
    </div>

    <h3>Gender</h3>
    <div class="control-group">
        <label class="control-label" for="weight">Male</label>
        <div class="controls">
            <input ng-model="user.gender" type="radio" name="gender" id="optionsRadios1" value="male" checked>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="weight">Female</label>
        <div class="controls">
            <input ng-model="user.gender" type="radio" name="gender" id="optionsRadios2" value="female">
        </div>
    </div>


    <h3>Measurements</h3>
    <div class="control-group">
        <label class="control-label" for="height">Height</label>
        <div class="controls">
            <input ng-model="user.height" type="text" id="height" placeholder="height"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="weight">Current Weight</label>
        <div class="controls">
            <input ng-model="user.weight" type="text" id="weight" placeholder="height"/>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <button ng-click="saveDetails(user)" type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn">Cancel</button>
        </div>
    </div>
</form>



