<div>
    <h2>Login In</h2>
    <form name="login" novalidate>

        <div class="muted">
        </div>
        <div>
            <input ng-model="user.email" type="text" placeholder="Email"/>
        </div>
        <div>
            <input ng-model="user.password" type="password" placeholder="Password"/>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Sign In"/>
        </div>
    </form>
</div>


<div>
    <h2>Register</h2>

    <form name="register" novalidate>
        <div>
            <input type="text" placeholder="Full name"/>
        </div>

        <div>
            <input type="text" placeholder="Email"/>
        </div>
        <div>
            <input type="password" placeholder="Password" />
        </div>

        <div>
            <input class="btn btn-success" type="submit" value="Sign up for Goldilocks"/>
        </div>
    </form>

</div>